<p><%= @hangman.take_turn(@letter) %></p>
<form action="/" method="post">
  <label for="letter">Guess a letter:</label>
  <input type="text" name="letter" pattern="[a-z]{1}" title="Lower case single letter" autocomplete="off">
  <button type="submit" name="button">Go!</button>
</form>
<br>
<form action="/" method="get">
  <button type="submit" name="button">Restart!</button>
</form>
